In [2]:
# Data Mining Assignment 3:
"""
    Load the Boston dataset (sklearn.datasets.load boston()) 
    into Python us- ing a Pandas dataframe. Perform a K-Means analysis on unscaled data, 
    with the number of clusters ranging from 2 to 6. 
    Provide the Silhouette score to justify which value of k is optimal. 
    What information do the values of Homogene- ity/Completeness provide as well? 
    Calculate the mean values for all features in each cluster for the optimal clustering - 
    how do these values differ from the centroid coordinates?
"""


import numpy as np
import pandas as pd

from sklearn.datasets import load_boston
from sklearn.cluster import KMeans
from sklearn import preprocessing
from sklearn import metrics

dataset = load_boston()

In [3]:
# Load the Dataset into a Pandas DataFrame
df_dataset = pd.DataFrame(data=dataset.data,
                          columns=dataset.feature_names)
df_dataset.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [4]:
# Load the target into a pandas DataFrame
df_true_labels = pd.DataFrame(data=dataset.target, 
                         columns=['target'])
df_true_labels.head()

   target
0    24.0
1    21.6
2    34.7
3    33.4
4    36.2

In [5]:
# Scale the dataset and load it to a Pandas DataFrame
df_dataset_scaled = pd.DataFrame(data=preprocessing.scale(dataset.data),
                                 columns=dataset.feature_names)
df_dataset_scaled.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,-0.417713,0.284830,-1.287909,-0.272599,-0.144217,0.413672,-0.120013,0.140214,-0.982843,-0.666608,-1.459000,0.441052,-1.075562
1,-0.415269,-0.487722,-0.593381,-0.272599,-0.740262,0.194274,0.367166,0.557160,-0.867883,-0.987329,-0.303094,0.441052,-0.492439
2,-0.415272,-0.487722,-0.593381,-0.272599,-0.740262,1.282714,-0.265812,0.557160,-0.867883,-0.987329,-0.303094,0.396427,-1.208727
3,-0.414680,-0.487722,-1.306878,-0.272599,-0.835284,1.016303,-0.809889,1.077737,-0.752922,-1.106115,0.113032,0.416163,-1.361517
4,-0.410409,-0.487722,-1.306878,-0.272599,-0.835284,1.228577,-0.511180,1.077737,-0.752922,-1.106115,0.113032,0.441052,-1.026501

In [6]:
# Get the Summary statistics of the oringinal dataset.
df_dataset.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.593761,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.596783,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.647423,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [7]:
# Get the Summary statistics of the scaled dataset.
df_dataset_scaled.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02
mean,6.340997e-17,-6.343191e-16,-2.682911e-15,4.701992e-16,2.490322e-15,-1.145230e-14,-1.407855e-15,9.210902e-16,5.441409e-16,-8.868619e-16,-9.205636e-15,8.163101e-15,-3.370163e-16
std,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00
min,-4.177134e-01,-4.877224e-01,-1.557842e+00,-2.725986e-01,-1.465882e+00,-3.880249e+00,-2.335437e+00,-1.267069e+00,-9.828429e-01,-1.313990e+00,-2.707379e+00,-3.907193e+00,-1.531127e+00
25%,-4.088961e-01,-4.877224e-01,-8.676906e-01,-2.725986e-01,-9.130288e-01,-5.686303e-01,-8.374480e-01,-8.056878e-01,-6.379618e-01,-7.675760e-01,-4.880391e-01,2.050715e-01,-7.994200e-01
50%,-3.885818e-01,-4.877224e-01,-2.110985e-01,-2.725986e-01,-1.442174e-01,-1.084655e-01,3.173816e-01,-2.793234e-01,-5.230014e-01,-4.646726e-01,2.748590e-01,3.811865e-01,-1.812536e-01
75%,6.248255e-03,4.877224e-02,1.015999e+00,-2.725986e-01,5.986790e-01,4.827678e-01,9.067981e-01,6.623709e-01,1.661245e+00,1.530926e+00,8.065758e-01,4.336510e-01,6.030188e-01
max,9.941735e+00,3.804234e+00,2.422565e+00,3.668398e+00,2.732346e+00,3.555044e+00,1.117494e+00,3.960518e+00,1.661245e+00,1.798194e+00,1.638828e+00,4.410519e-01,3.548771e+00

In [8]:
# Fit a K-means cluster
cluster_model_2 = KMeans(n_clusters=2, init='k-means++')
cluster_labels_2 = cluster_model_2.fit_predict(df_dataset)

cluster_model_3 = KMeans(n_clusters=3, init='k-means++')
cluster_labels_3 = cluster_model_3.fit_predict(df_dataset)

cluster_model_4 = KMeans(n_clusters=4, init='k-means++')
cluster_labels_4 = cluster_model_4.fit_predict(df_dataset)

cluster_model_5 = KMeans(n_clusters=5, init='k-means++')
cluster_labels_5 = cluster_model_5.fit_predict(df_dataset)

cluster_model_6 = KMeans(n_clusters=6, init='k-means++')
cluster_labels_6 = cluster_model_6.fit_predict(df_dataset)

In [9]:
# Check the Silhouette Score of the Clusters, Silhouette scores portrays the closeness
# of the data points in a cluster to the seperation of the clusters. The more the Silhouette 
# score the better the clusters. The score ranges form -1 to 1
silhouette_score_2 = metrics.silhouette_score(df_dataset, cluster_labels_2)
silhouette_score_3 = metrics.silhouette_score(df_dataset, cluster_labels_3)
silhouette_score_4 = metrics.silhouette_score(df_dataset, cluster_labels_4)
silhouette_score_5 = metrics.silhouette_score(df_dataset, cluster_labels_5)
silhouette_score_6 = metrics.silhouette_score(df_dataset, cluster_labels_6)


print (silhouette_score_2)
print (silhouette_score_3)
print (silhouette_score_4)
print (silhouette_score_5)
print (silhouette_score_6)

0.691398118833
0.723403034161
0.568219170853
0.570738665513
0.501258930507

In [10]:
# Using Homogenity and Completeness score:
h_score2 = metrics.homogeneity_score(df_true_labels['target'],
                                    cluster_labels_2)
c_score2 = metrics.completeness_score(df_true_labels['target'],
                                     cluster_labels_2)

h_score3 = metrics.homogeneity_score(df_true_labels['target'],
                                    cluster_labels_3)
c_score3 = metrics.completeness_score(df_true_labels['target'],
                                     cluster_labels_3)

h_score4 = metrics.homogeneity_score(df_true_labels['target'],
                                    cluster_labels_4)
c_score4 = metrics.completeness_score(df_true_labels['target'],
                                     cluster_labels_4)

h_score5 = metrics.homogeneity_score(df_true_labels['target'],
                                    cluster_labels_5)
c_score5 = metrics.completeness_score(df_true_labels['target'],
                                     cluster_labels_5)

h_score6 = metrics.homogeneity_score(df_true_labels['target'],
                                    cluster_labels_6)
c_score6 = metrics.completeness_score(df_true_labels['target'],
                                     cluster_labels_6)

print (h_score2, c_score2)
print (h_score3, c_score3)
print (h_score4, c_score4)
print (h_score5, c_score5)
print (h_score6, c_score6)

0.070186194715 0.627029136728
0.0921583560761 0.639770837023
0.135137885887 0.601684007444
0.148658835525 0.620034051928
0.187370799835 0.629506604287

In [15]:
# Now that we know that the optimal clusters are formed when the no_of_clusters (k) = 3
# cluster_labels_3 contains the label of respective clusters number to with each row of the 
# dataframe (df_dataset) is assigned

# We will now add the label term to the dataframe:
df_dataset['class'] = cluster_labels_3
df_dataset.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,class
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,0
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,0
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,0
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,0

In [44]:
# Now we are asked to find the means of all the features of all the clusters for the best model.
# Which can be easily done by using summary statistics of dataframe df_dataset belonging to different class
df_dataset_c0 = df_dataset.loc[df_dataset['class']==0]
df_dataset_c1 = df_dataset.loc[df_dataset['class']==1]
df_dataset_c2 = df_dataset.loc[df_dataset['class']==2]

df_dataset_c0.describe().transpose()['mean']
feature_c0 = np.array(df_dataset_cluster0.describe().transpose()['mean'], dtype=float)
feature_c1 = np.array(df_dataset_cluster1.describe().transpose()['mean'], dtype=float)
feature_c2 = np.array(df_dataset_cluster2.describe().transpose()['mean'], dtype=float)

print (np.mean(feature_c0))
print (np.mean(feature_c1))
print (np.mean(feature_c2))

58.8336347814
87.8788227241
64.2106235902

In [47]:
print (cluster_model_3.cluster_centers_)

[[  3.74992678e-01   1.57103825e+01   8.35953552e+00   7.10382514e-02
    5.09862568e-01   6.39165301e+00   6.04133880e+01   4.46074481e+00
    4.45081967e+00   3.11232240e+02   1.78177596e+01   3.83489809e+02
    1.03886612e+01]
 [  1.09105113e+01   5.32907052e-15   1.85725490e+01   7.84313725e-02
    6.71225490e-01   5.98226471e+00   8.99137255e+01   2.07716373e+00
    2.30196078e+01   6.68205882e+02   2.01950980e+01   3.71803039e+02
    1.78740196e+01]
 [  1.49558803e+01  -5.32907052e-15   1.79268421e+01   2.63157895e-02
    6.73710526e-01   6.06550000e+00   8.99052632e+01   1.99442895e+00
    2.25000000e+01   6.44736842e+02   1.99289474e+01   5.77863158e+01
    2.04486842e+01]]

In [ ]:
# Finally we need to compare