In [31]:
import pandas as pd
import numpy as np
auto_mg_df = pd.DataFrame(pd.read_table("/Users/sam/All-Program/App-DataSet/IIT-Code/Data-Mining/datasets/auto-mpg.tab"))
auto_mg_df = auto_mg_df.ix[2:]
# print (auto_mg_df)
auto_mg_df.describe(include = 'all')

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
count,398,398,398,398,398,398,398,398,398
unique,129,5,82,94,351,95,13,3,305
top,13,4,97,150,1985,14.5,73,1,ford pinto
freq,20,204,21,22,4,23,40,249,6

In [35]:
# new_array_with_nan = np.array(auto_mg_df['horsepower'])
# indices = np.where(np.array(auto_mg_df['horsepower']) == "?")[0]
# new_array_with_nan[indices] = np.nan
# auto_mg_df['horsepower'] = new_array_with_nan
auto_mg_df_1 = auto_mg_df.replace('?',np.nan)
auto_mg_df.describe(include = 'all')
auto_mg_df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
2,18,8,307,130,3504,12,70,1,chevrolet chevelle malibu
3,15,8,350,165,3693,11.5,70,1,buick skylark 320
4,18,8,318,150,3436,11,70,1,plymouth satellite
5,16,8,304,150,3433,12,70,1,amc rebel sst
6,17,8,302,140,3449,10.5,70,1,ford torino
7,15,8,429,198,4341,10,70,1,ford galaxie 500
8,14,8,454,220,4354,9,70,1,chevrolet impala
9,14,8,440,215,4312,8.5,70,1,plymouth fury iii
10,14,8,455,225,4425,10,70,1,pontiac catalina
11,15,8,390,190,3850,8.5,70,1,amc ambassador dpl
12,15,8,383,170,3563,10,70,1,dodge challenger se
13,14,8,340,160,3609,8,70,1,plymouth 'cuda 340
14,15,8,400,150,3761,9.5,70,1,chevrolet monte carlo
15,14,8,455,225,3086,10,70,1,buick estate wagon (sw)
16,24,4,113,95,2372,15,70,3,toyota corona mark ii
17,22,6,198,95,2833,15.5,70,1,plymouth duster
18,18,6,199,97,2774,15.5,70,1,amc hornet
19,21,6,200,85,2587,16,70,1,ford maverick
20,27,4,97,88,2130,14.5,70,3,datsun pl510
21,26,4,97,46,1835,20.5,70,2,volkswagen 1131 deluxe sedan
22,25,4,110,87,2672,17.5,70,2,peugeot 504
23,24,4,107,90,2430,14.5,70,2,audi 100 ls
24,25,4,104,95,2375,17.5,70,2,saab 99e
25,26,4,121,113,2234,12.5,70,2,bmw 2002
26,21,6,199,90,2648,15,70,1,amc gremlin
27,10,8,360,215,4615,14,70,1,ford f250
28,10,8,307,200,4376,15,70,1,chevy c20
29,11,8,318,210,4382,13.5,70,1,dodge d200
30,9,8,304,193,4732,18.5,70,1,hi 1200d
31,27,4,97,88,2130,14.5,71,3,datsun pl510
...,...,...,...,...,...,...,...,...,...
370,27,4,112,88,2640,18.6,82,1,chevrolet cavalier wagon
371,34,4,112,88,2395,18,82,1,chevrolet cavalier 2-door
372,31,4,112,85,2575,16.2,82,1,pontiac j2000 se hatchback
373,29,4,135,84,2525,16,82,1,dodge aries se
374,27,4,151,90,2735,18,82,1,pontiac phoenix
375,24,4,140,92,2865,16.4,82,1,ford fairmont futura
376,23,4,151,NaN,3035,20.5,82,1,amc concord dl
377,36,4,105,74,1980,15.3,82,2,volkswagen rabbit l
378,37,4,91,68,2025,18.2,82,3,mazda glc custom l
379,31,4,91,68,1970,17.6,82,3,mazda glc custom
380,38,4,105,63,2125,14.7,82,1,plymouth horizon miser
381,36,4,98,70,2125,17.3,82,1,mercury lynx l
382,36,4,120,88,2160,14.5,82,3,nissan stanza xe
383,36,4,107,75,2205,14.5,82,3,honda accord
384,34,4,108,70,2245,16.9,82,3,toyota corolla
385,38,4,91,67,1965,15,82,3,honda civic
386,32,4,91,67,1965,15.7,82,3,honda civic (auto)
387,38,4,91,67,1995,16.2,82,3,datsun 310 gx
388,25,6,181,110,2945,16.4,82,1,buick century limited
389,38,6,262,85,3015,17,82,1,oldsmobile cutlass ciera (diesel)
390,26,4,156,92,2585,14.5,82,1,chrysler lebaron medallion
391,22,6,232,112,2835,14.7,82,1,ford granada l
392,32,4,144,96,2665,13.9,82,3,toyota celica gt
393,36,4,135,84,2370,13,82,1,dodge charger 2.2
394,27,4,151,90,2950,17.3,82,1,chevrolet camaro
395,27,4,140,86,2790,15.6,82,1,ford mustang gl
396,44,4,97,52,2130,24.6,82,2,vw pickup
397,32,4,135,84,2295,11.6,82,1,dodge rampage
398,28,4,120,79,2625,18.6,82,1,ford ranger
399,31,4,119,82,2720,19.4,82,1,chevy s-10

In [36]:
mean_hpw = auto_mg_df_1['horsepower'].mean()

TypeError: Can't convert 'int' object to str implicitly